//@import "../../assets/stylesheets/navbar";
@import "../../assets/stylesheets/custom";
@import "../../assets/stylesheets/color-variables";
.header-navbar{
    position: fixed;
    width: $width100;
    float: left;
    z-index: 9;
    font-size: rem(12);
    .hdr-navbar-toggle{
        float: left;
        padding-right: 0;
    }
    .header-nav-brand{
        padding: em(4.5);
        .pficon-enterprise{
            font-size: em(18);
            margin-right: em(5);
        }
        .caret{
            margin: em(4.5);
        }
    }
}
.navbar-pf {
    .navbar-nav li a {
        line-height: em(20);
        text-shadow:none;
        cursor: pointer;
        .img-icon{
            width: em(25);
            height: em(25);
            margin-top: em(-2);
            margin-right: em(5);
        }
    }
    .navbar-collapse span.fa,span.pficon {
        font-size:em(20);
    }
}
@media (max-width: $grid-float-breakpoint - 1){ //768px
.navbar-fixed-top {
        position: fixed;
        top: auto;
    }
    .navbar-collapse {
        max-height: none;
    }
    body {
        margin: 0;
    }
    .navbar-pf{
        .nav{
            padding: 0 em(10);
        }
        .navbar-utility{
            li {
                border-top: none;
                a{
                    padding: em(10);
                    float: left;
                }
            }
        }
        .navbar-primary.persistent-secondary 
            {
                height: em(200);
                overflow-y: scroll;
                li {
                    float: none;
                }
            }
    }
}
.navbar-pf {
    .navbar-primary.persistent-secondary > li.active {
        margin-bottom: 0 ; 
    }
}
.no-link {
  color: $color-pf-white;
  text-decoration: none;
}

@media (max-width: $screen-md-min){ //992px
    .navbar-pf {
        .navbar-primary.persistent-secondary{
            li{
                a{
                    padding-left: em(8);
                    padding-right: em(8);
                }
            }
        }
    }
}
@media (max-width: 320px){
.navbar-pf{
    .navbar-toggle{
            padding-left: em(15);
        }
    }
}