@import "../../assets/stylesheets/navbar";
@import "../../assets/stylesheets/navs";
@import "../../assets/stylesheets/icons";
.navbar-pf {
    .navbar-nav>li>a {
        line-height: 1.3em;
        text-shadow:none;
        cursor: pointer;
        .img-icon{
            width: 25px;
            height: 25px;
            margin-right: 10px;
            margin-top: -3px;
        }
    }
    
}