/* NavBar */
nav.navbar {
  background: #17569e;
}
a.navbar-brand {
  line-height: 2rem;
  text-transform: uppercase;
}
a.nav-link {
  color: #dddddd;
}
a.nav-link:hover {
  color: #ffffff;
}

/* Jumbotron */
.jumbotron {
  display: flex;                        /* @mediaquery */
  align-items: center;
  justify-content: center;
}

.jumbotron img {
  margin-right: 2rem;                   /* @mediaquery */
}

#repoDetails {
  display: none;
  margin-top: 1
}

.repoStats {
  margin-right: 2rem;                   /* @mediaquery */
  font-size: 1.5rem;
}

.repoStats img {
  height: 1.5rem;
  opacity: 0.5;
  margin-right: 0.5rem;                 /* @mediaquery */
}

.lead.pitch {
  margin-top: 5rem;
  text-align: center;
}
