/* NavBar */
nav.navbar {
  background: #17569e;
}
a.navbar-brand {
  line-height: 2rem;
  text-transform: uppercase;
}
a.nav-link {
  color: #dddddd;
}
a.nav-link:hover {
  color: #ffffff;
}

/* Jumbotron */
.jumbotron {
  display: flex;                        /* @mediaquery */
  align-items: center;
  justify-content: center;
}

.jumbotron img {
  margin-right: 2rem;                   /* @mediaquery */
}

#repoDetails {
  display: none;
  margin-top: 1
}

.repoStats {
  margin-right: 2rem;                   /* @mediaquery */
  font-size: 1.5rem;
}

.repoStats img {
  height: 1.5rem;
  opacity: 0.5;
  margin-right: 0.5rem;                 /* @mediaquery */
}

/* Contributor Stats */
#contribTitle {
  color: #666;
  margin: 4rem auto 2rem;
  text-align: center;
  text-transform: uppercase;
}
.card-deck .card {
  flex: 1 0 20%;                        /* @mediaquery */
  margin-bottom: 1rem;
  transition: all 300ms ease;
}
.card-deck .card:hover {
  background: #f8f8f8;
  border-color: #e3e6e9!important;
}
.card-body img.rounded-circle {
  width: 50px;
  margin-right: 1rem;
}
.card-body .card-title {
  margin-bottom: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
