/* NavBar */
nav.navbar {
  background: #17569e;
}
a.navbar-brand {
  line-height: 2rem;
  text-transform: uppercase;
}
a.nav-link {
  color: #dddddd;
}
a.nav-link:hover {
  color: #ffffff;
}

/* Jumbotron */
.jumbotron {
  display: flex;                        /* @mediaquery */
  align-items: center;
  justify-content: center;
}

.jumbotron img {
  margin-right: 2rem;                   /* @mediaquery */
}

#repoDetails {
  display: none;
  margin-top: 1
}

.repoStats {
  margin-right: 2rem;                   /* @mediaquery */
  font-size: 1.5rem;
}

.repoStats img {
  height: 1.5rem;
  opacity: 0.5;
  margin-right: 0.5rem;                 /* @mediaquery */
}

/* Contributor Stats */
#contributors {
  display: none;
}
#contributors .btn-toolbar {
  align-items: center;
  justify-content: center;
}
#contributors .btn {
  margin: auto 1rem;
  padding: 1rem 4rem;                   /* @mediaquery */
}
#contributorTitle {
  color: #666;
  margin: 4rem auto 2rem;
  text-align: center;
  text-transform: uppercase;
}
.card-deck .card {
  flex: 1 0 20%;                        /* @mediaquery */
  margin-bottom: 1rem;
  transition: all 300ms ease;
}
.card-deck .card:hover {
  background: #f8f8f8;
  border-color: #e3e6e9!important;
}
.card-body img.rounded-circle {
  width: 50px;
  margin-right: 1rem;
}
.card-body .card-title {
  margin-bottom: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#noContributors {
  display: flex;
  min-height: 20rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#noContributors .loading {
  margin-bottom: 1rem;
}

/* Spinner */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: .5rem solid rgba(0,0,0,0.25);
  border-top-color: rgba(0,0,0,0.75);
  animation: spin 1s infinite linear;
}

/* Footer */
footer {
  margin: 4rem auto 0;
  padding: 2rem 1rem;
  text-align: center;
  background: #e9ecef;
}
footer .footer-links {
  margin: 1rem;
  display: inline-block;
}
