.screen-min-ht{
  height: 80%;
}
.type span{
  font-size: 12px;
  margin-right: 10px;
  color: #8b8d8f;
}
.work-item-details{
	padding: 1% 8%;
}
.error {color:red;}
.supress-hover:hover{
  background-color: transparent;
}

.list-group {
	height: calc(100% - 50px);
	display: flex;
	flex-flow: column nowrap;
	overflow: hidden;
}

.work-item-container {
	flex: 1;
	overflow: hidden;
}

.work-item-container:hover {
	overflow-x: hidden;
	overflow-y: scroll;
}
