<app-header></app-header>

<div class="container-fluid screen-min-ht">
	<div class="list-group list-view-pf list-view-pf-view">
    <div>
		<div class="list-group-item supress-hover" (click)="addWorkItem()">
      		<work-item-quick-add (close)="close($event)"></work-item-quick-add>
    	</div>
	</div>
    <div>
		<work-item-list-entry *ngFor="let workItem of workItems" 
					[workItem]="workItem" 
					(selectEvent)="onSelect($event)" 
					(detailEvent)="onDetail($event)" 
					(deleteEvent)="onDelete($event)">
		</work-item-list-entry>
	</div>
</div>
<div class="error" *ngIf="error">{{error}}</div>

<app-footer></app-footer>
