@import (reference) '../../../assets/stylesheets/_base';

.f8-planner {
  &-event {
    float: left;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid;
    border-bottom-color: @color-pf-black-200;
    background-color: transparent;
    &__body {
      display: flex;
      flex-wrap: wrap;
    }
    &__author {
      max-width: 100%;
      min-width: 0;  //fix for having full wrapper width and overflowen content
      padding-right: 10px;
      display: contents;
      margin-top: 5px;
      margin-bottom: 0;
    }
  }
  &-audit-trail {
    display: inherit;
    .f8-planner-label__wrapper {
      display: inline-block !important;
    }
  }
}
&:host:nth-child(even) {
  &::ng-deep .f8-planner-event {
    background-color: @color-pf-black-100;
  }
}
