<div [class.f8-planner-container]="detailContext=='detail'">
  <div class="f8-planner-detail form-horizontal"
    id="wi-detail-form"
    *ngIf="workItem">
    <fieldset *ngIf="(workItem.typeObs | async) as type">
      <div class="f8-planner-detail__header"
        #detailHeader>
        <span
          class="pficon pficon-close close
          pull-right pointer f8-planner-detail__close"
          (click)="closeDetail()">
        </span>
        <div *ngIf="detailContext=='preview'">
          <div class="pull-left">
            <strong>#{{ workItem.number }}</strong>
            <span class="f8-planner-detail__header-date"
              *ngIf="workItem.id">
              created by
              <span id="preview_created_by"
                *ngIf="workItem?.creatorObs | async; let creator">
                {{ creator.name }}</span>
              <span id="preview_created_at"
                [innerHTML]="workItem.createdAt | almMomentTime"></span>
            </span>
          </div>
          <a class="pull-right margin-right-15"
            [routerLink]="context === 'list' ? ['detail', workItem.number] : ['../', 'detail', workItem.number]"
            [queryParams]="queryParams">
            View full details
            <span class="fa fa-list-alt"></span>
          </a>
        </div>
        <div *ngIf="detailContext=='detail'">
          <strong>#{{ workItem.number }}</strong>
          <span class="f8-planner-detail__header-date"
            *ngIf="workItem.id">
            created by
            <span id="preview_created_by"
              *ngIf="workItem?.creatorObs | async; let creator">
              {{ creator.name }}</span>
            <span id="preview_created_at"
              [innerHTML]="workItem.createdAt | almMomentTime"></span>
          </span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 margin-top-15 padding-0">
          <div class="form-horizontal">
            <f8-inlineinput
              id="wi-title-div"
              #inlineInput
              [disabled]="!workItem?.editable"
              [value]="workItem.title"
              (onSave)="saveTitle($event)"
              [placeholder]="'Enter title'"
              (clickOut)="inlineInput.closeClick()">
            </f8-inlineinput>
          </div>
        </div>
      </div>
      <div class="f8-planner-detail__content width-100"
        #detailContent>
        <div
          class="col-xs-12 col-sm-12 padding-v-15"
          [class.f8-planner-detail__content-wrap]="detailContext=='detail'"
          [class.col-md-7]="detailContext=='detail'"
          [class.col-lg-7]="detailContext=='detail'"
          [class.col-md-12]="detailContext=='preview'"
          [class.col-lg-12]="detailContext=='preview'">

          <!-- Work item type dropdown -->
          <div class="form-group">
            <section>
              <label class="pull-left padding-left-15 control-label">
                Type
              </label>
              <div class="f8-planner-detail__context">
                <span *ngIf="loadingTypes"
                  class="spinner spinner-sm spinner-inline">
                </span>
                <common-selector
                  *ngIf="!loadingTypes"
                  class="type-dropdown"
                  [allowUpdate]="workItem?.editable"
                  [headerText]="'Update Type'"
                  [items]="workItemTypeSource | async"
                  [noValueLabel]="'None'"
                  [selectedItems]="selectedWorkItemTypes | async"
                  (onCloseSelector)="updateType($event)">
                </common-selector>
              </div>
            </section>
          </div>
          <!-- Work item type dropdown end -->

          <!-- work-item state dropdown -->
          <div class="form-group">
            <section>
              <label class="pull-left padding-left-15 control-label">
                {{ type.fields['system.state']?.label || 'Label' }}
              </label>
              <div class="f8-planner-detail__context">
                <span *ngIf="loadingStates"
                  class="spinner spinner-sm spinner-inline">
                </span>
                <common-selector
                  *ngIf="!loadingStates"
                  class="state-dropdown"
                  [allowUpdate]="workItem?.editable"
                  [headerText]="'Update State'"
                  [items]="workItemStateSource | async"
                  [noValueLabel]="'None'"
                  [selectedItems]="selectedWorkItemStates | async"
                  (onCloseSelector)="onChangeState($event)">
                </common-selector>
              </div>
            </section>
          </div>
          <!-- work-item state dropdown end -->

          <div class="form-group">
            <!-- assignee -->
            <section class="f8-planner-detail__assignee">
              <label class="pull-left padding-left-15 control-label">
                {{ type.fields['system.assignees']?.label || 'Label' }}
              </label>
              <div class="f8-planner-detail__context" #assignee >
                <span *ngIf="loadingAssignees"
                  class="spinner spinner-sm spinner-inline">
                </span>
                <f8-assignee *ngIf="!loadingAssignees"
                  [showFullName]="true"
                  [assignees]="workItem?.assigneesObs | async">
                </f8-assignee>
                <div class="posRel"
                  *ngIf="workItem?.editable">
                    <assignee-selector
                      [allUsers]="collaborators"
                      [selectedAssignees]="workItem?.assigneesObs | async"
                      [editAllow]="workItem?.editable"
                      [loggedInUser]="loggedInUser"
                      (onOpenSelector)="onAssigneeSelectorOpen($event)"
                      (onCloseAssignee)="assignUser($event)">
                    </assignee-selector>
                </div>
              </div>
            </section>
          </div>
          <!-- area -->
          <div class="form-group">
            <section>
              <label class="pull-left padding-left-15 control-label">
                {{ type.fields['system.area']?.label || 'Label' }}
              </label>
              <div class="f8-planner-detail__context">
                <span *ngIf="loadingArea"
                  class="spinner spinner-sm spinner-inline">
                </span>
                <common-selector
                  class="f8-area-dropdown"
                  *ngIf="!loadingArea"
                  [allowUpdate]="workItem?.editable"
                  [noValueLabel]="'None'"
                  [headerText]="'Update area'"
                  [items]="areaSource | async"
                  [selectedItems]="selectedAreas | async"
                  [itemTruncate]="-25"
                  [toggleTruncate]="1000"
                  (onCloseSelector)="areaUpdated($event)">
                </common-selector>
              </div>
            </section>
          </div>

          <!-- Iteration -->
          <div class="form-group">
            <section>
              <label class="pull-left padding-left-15 control-label">
                {{ type.fields['system.iteration']?.label || 'Label' }}
              </label>
              <div class="f8-planner-detail__context">
                <span *ngIf="loadingIteration"
                  class="spinner spinner-sm spinner-inline">
                </span>
                <common-selector
                  class="f8-iteration-dropdown"
                  *ngIf="!loadingIteration"
                  [allowUpdate]="workItem?.editable"
                  [headerText]="'Update iteration'"
                  [items]="iterationSource | async"
                  [noValueLabel]="'None'"
                  [selectedItems]="selectedIterations | async"
                  [itemTruncate]="-25"
                  [toggleTruncate]="1000"
                  (onCloseSelector)="iterationUpdated($event)">
                </common-selector>
              </div>
            </section>
          </div>
          <!--Labels-->
          <div class="form-group">
            <section class="f8-planner-detail__labels">
              <label class="pull-left padding-left-15 control-label ">
                {{ type.fields['system.labels']?.label || 'Label' }}
              </label>
              <div class="f8-planner-detail__context">
                <span *ngIf="loadingLabels"
                  class="spinner spinner-sm spinner-inline">
                </span>
                <f8-label *ngIf="!loadingLabels"
                  [labels]='workItem?.labelsObs | async'
                  (onRemoveLabel)="removeLable($event)"
                  [allowDelete]="workItem?.editable"
                  [context]="detailContext">
                </f8-label>
                <div *ngIf="loggedIn">
                  <label-selector
                    [allLabels]="labels"
                    [selectedLabels]="workItem?.labelsObs | async"
                    [allowUpdate]="workItem?.editable"
                    (onCloseSelector)="updateLabels($event)">
                  </label-selector>
                </div>
              </div>
            </section>
          </div>
          <!-- Description -->
          <div class="form-group">
            <section>
              <label class="pull-left padding-left-15 control-label">
                Description
              </label>
              <div class="f8-planner-detail__context">
                <f8-markdown
                  id="wi-desc-div"
                  [editAllow]="workItem?.editable"
                  [rawText]="workItem.descriptionRendered!==null ? workItem.description : workItem.description.content"
                  [renderedText]="(workItem.descriptionRendered!==null ? workItem.descriptionRendered : workItem.description.rendered) | safe: 'html'"
                  (onSaveClick)="descUpdate($event)"
                  (showPreview)="showPreview($event)" #descMarkdown>
                </f8-markdown>
              </div>
            </section>
          </div>
          <div>
            <!-- Extra fields Start -->
            <div class="form-group margin-bottom-0"
              *ngFor="let field of dynamicKeyValueFields">
              <alm-dynamic-field
                class="db"
                [keyValueField]="field"
                [editAllow]="workItem?.editable"
                (onUpdate)="dynamicFieldUpdated($event)">
              </alm-dynamic-field>
            </div>
            <!-- Extra fields End -->
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 padding-0"
          [class.f8-planner-detail__content-wrap--border]="detailContext=='detail'"
          [class.f8-planner-detail__content-wrap]="detailContext=='detail'"
          [class.col-md-5]="detailContext=='detail'"
          [class.col-lg-5]="detailContext=='detail'"
          [class.col-md-12]="detailContext=='preview'"
          [class.col-lg-12]="detailContext=='preview'">
          <work-item-link
            [context]="context"
            [detailContext]="detailContext"
            [workItem]="workItem"
            [loggedIn]="loggedIn"
            (onLinkClick)="setWorkItem($event.number)">
          </work-item-link>
          <work-item-comment-wrapper
            [workItem]="workItem"
            [loggedInUser]="loggedInUser"
            [loggedIn]="loggedIn">
          </work-item-comment-wrapper>
          <work-item-event-wrapper
            [workItem]="workItem">
          </work-item-event-wrapper>
        </div>
      </div>
    </fieldset>
  </div>
</div>
<osio-modal *ngIf="detailContext=='detail'">
</osio-modal>
