<!-- Custom Filters -->
<div class="f8-planner-custom-query__header nohover">
  <span class="dib fa fa-filter margin-right-15
    padding-top-2 padding-bottom-3"
    tooltip="{{sidePanelOpen ? '' : 'My Filters'}}"
    placement="right"></span>
  <p class="padding-0 margin-0"
    [class.dib]="sidePanelOpen"
    [class.hide]="!sidePanelOpen">
    My Filters ({{ customQueries.length }})
  </p>
</div>
<ul class="list-group"
  [class.show]="sidePanelOpen"
  [class.hide]="!sidePanelOpen">
  <li class="f8-planner-custom-query__list"
    id="{{'cf-list-' + counter}}"
    *ngFor="let query of customQueries"
    [class.is-selected]="query?.selected">
    <div class="dropdown-kebab-pf pull-right 
      dropdown" 
      dropdown>
      <button class="btn btn-link dropdown-toggle"
        id="{{'cf-kebab-' + counter}}"
        type="button"
        aria-haspopup="true"
        aria-expanded="true"
        (click)="stopPropagation($event)"
        dropdownToggle>
          <i class="fa fa-ellipsis-v"></i>
      </button>
      <ul class="dropdown-menu-right dropdown-menu" 
        *dropdownMenu>
        <li>
          <a class="pointer" 
            (click)="confirmCustomQueryDelete($event, query)">
            Delete
          </a>
        </li>
      </ul>
    </div>
    <a class="f8-planner-custom-query__list-link"
      [routerLink]="getRouterLink()"
      [attr.data-id]="query.id"
      [queryParams]="addRemoveQueryParams(query.attributes.fields)">
        <span title="{{ query.attributes.title }}">
          {{ query.attributes.title  | truncate : 15 }}
        </span>
    </a>
  </li>
</ul>
