<f8-select-dropdown
  id="labelSelector"
  #dropdown
  [toggleButtonRef]="toggleButtonRef"
  [dropdownItem]="dropdownItem"
  [dropdownFooter]="dropdownFooter"
  [headerText]="'Assign Label(s)'"
  [menuItems]="labels"
  [showSearch]="backup.length > 5"
  (onSelect)="onSelect($event)"
  (onSearch)="onSearch($event)"
  (onOpen)="onOpen($event)"
  (onClose)="onClose($event)">
  <ng-template #toggleButtonRef>
    <span class="pointer f8-planner-dropdown__selector-dropdown"
      *ngIf="allowUpdate"
      (click)="closeAddLabel()">
      <i class="pficon pficon-add-circle-o padding-right-5"></i>
      Assign Label(s)
    </span>
  </ng-template>
  <ng-template #dropdownItem
    let-color="color"
    let-border="border"
    let-name="name">
    <div class="f8-planner-label__palet"
      [ngStyle]="{'background-color': color, 'border-color': border}">
    </div>
    <span [innerHTML]="name | almSearchHighlight: searchValue"></span>
  </ng-template>
  <ng-template #dropdownFooter>
    <div class="f8-planner-label__create-label-text"
      [class.hide]="activeAddLabel"
      (click)="clickOnAddLabel()">
      <span class="pficon pficon-add-circle-o"></span>
      Create new label
    </div>
    <div class="f8-planner-label__create-label"
      [class.hide]="!activeAddLabel || colorPickerActive">
      <div class="f8-planner-label__palet"
        [ngStyle]="{'background-color': newSelectedColor.color,
        'border-color': newSelectedColor.border}"
        (click)="toggleColorPicker()">
      </div>
      <input class="f8-planner-label__create-label-input"
        #labelname 
        (input)="onAddLabelInput($event.target.value)"
        (keyup.enter)="createLabel(labelname.value)"/>
      <button class="f8-planner__action-button btn btn-primary fa fa-check"
        type="button"
        [class.disabled]="createDisabled"
        (click)="createLabel(labelname.value)">
      </button>
      <button class="f8-planner__action-button btn pficon pficon-close"
        type="button"
        (click)="closeAddLabel()">
      </button>
    </div>
    <div class="f8-planner-label__color-picker"
      [class.hide]="activeAddLabel && !colorPickerActive">
      <span class="f8-planner-label__palet margin-4"
        *ngFor="let color of colors"
        [ngStyle]="{'background-color': color.color, 'border-color':color.border}"
        (click)="selectColor(color); toggleColorPicker();">
      </span>
    </div>
  </ng-template>
</f8-select-dropdown>
