<div class="f8-planner__toolbar">
  <pfng-toolbar
    [config]="toolbarConfig"
    [actionTemplate]="actionsTemplate"
    [viewTemplate]="addTemplate"
    (onFilterChange)="filterChange($event)"
    (onFilterFieldSelect)="selectFilterType($event)"
    (onFilterTypeAhead)="filterQueries($event)">
  </pfng-toolbar>
</div>
<div class="f8-planner__filters">  
  <span class="dib margin-right-10"
    *ngIf="activeFilterFromSidePane !== ''">
    <strong>{{ totalCount | async }}</strong> in {{ activeFilterFromSidePanel }}
  </span>
  <div class="is-active"
    *ngIf="activeFilters.length">
    <ul class="f8-planner__filters-list">
      <li *ngFor="let filter of activeFilters">
        <span class="active-filter label label-info">
          {{ filter.field }}: {{ filter.displayValue }}
          <span
            class="margin-left-5 pficon pficon-close pointer"
            (click)="isFilterSaveOpen=false; removeFilter(filter)">
          </span>
        </span>
      </li>
    </ul>
    <a class="pointer"
      *ngIf="activeFilters.length > 1"
      (click)="removeAllFilters()">
      Clear all filters
    </a>
    <div class="dropdown-kebab-pf dropdown f8-planner__filters-save"
      [autoClose]="false" 
      #filterSaveDropdown
      [isOpen]="isFilterSaveOpen"
      (isOpenChange)="saveFilterDropdownChange($event)"
      dropdown>
      <a class="margin-left-10"
        dropdownToggle
        *ngIf="activeFilters.length > 0 && showSaveFilterButton">
          Save
      </a>
      <div
        class="dropdown-menu-{{dropdownPlacement}} dropdown-menu"
        *dropdownMenu>
          <i class="db text-right fa fa-close btn btn-link"
            (click)="closeFilterSave(filterSaveInp)">
          </i>
          <input class="form-control ng-pristine ng-valid ng-touched"
            (keyup.enter)="saveFilters(filterSaveInp)"
            #filterSaveInp/>
          <div class="margin-top-10">
            <button class="btn btn-primary pull-right margin-left-5 save-cq-btn"
              (click)="saveFilters(filterSaveInp)"
              [disabled]="!filterSaveInp.value">
              Save
            </button>
            <button class="btn pull-right margin-right-5 cancel-cq-btn" 
              (click)="closeFilterSave(filterSaveInp)">
                Cancel
            </button>
          </div>
      </div>
    </div>
  </div>
</div>
<ng-template #actionsTemplate>
</ng-template>
<ng-template #addTemplate>
  <input id="showCompleted"
    name="show completed"
    type="checkbox"
    [checked]="isShowCompletedOn"
    (change)="showCompletedToggle($event)"
    [disabled]="isStateFilterSelected">
  <label for="showCompleted"
    [class.is-inactive]="isStateFilterSelected">
      &nbsp;Show Completed
  </label>
  <input id="showTree"
    name="Show Tree"
    type="checkbox"
    [checked]="isShowTreeOn"
    (change)="showTreeToggle($event)">
  <label for="showTree">
    &nbsp;Show Tree
  </label>
</ng-template>
