<span class="pficon pficon-info 
  f8-planner-infotip__icon {{infotipId}}"
  placement="right"
  (click)="$event.preventDefault()"
  [class.is-open]="pop.isOpen"
  [popover]="popoverTemplate" 
  [outsideClick]="true"
  containerClass="popover-container" 
  #pop="bs-popover">
</span>
<ng-template #popoverTemplate>
  <span class="pficon pficon-close pull-right pointer" 
    (click)="handlePropagation($event); pop.hide();">
  </span>
  <span class="f8-planner-infotip__text" 
    (click)="handlePropagation($event)">
      {{ infotipText }}
  </span>
</ng-template>
