@import (reference) './../../../assets/stylesheets/_base';

.f8-planner-assignee__user-assign {
  &:extend(.not-assigned-user-icon);
}
.dropdown-toggle {
  color: @color-pf-blue;
}

.f8-planner__avatar {
  &.is-overlapped {
    margin-right: 0;
    margin-left: -7px;
    &:first-child {
      margin-left: 0;
    }
  }
}
