<div class="f8-planner__label-wrapper">
  <div class="f8-planner__label"
    *ngFor="let label of _labels | slice:0:truncateAfter;" 
    [ngStyle]="{
      'background-color': label.backgroundColor,
      'color': label.textColor
    }">
    <div class="dib"
      *ngIf="context!='detail'">
      <a 
        class="dib"
        [routerLink]=[] 
        [queryParams]="constructQueryExpression(label.id)">
        <span class="f8-planner__label-name pointer">
          {{ label.name }}
        </span>
      </a>
      <span class="f8-planner__label-close padding-left-5" 
        *ngIf="allowDelete">
        <i class="pficon-close pointer" 
          (click)="removeLabel(label, $event)">
        </i>
      </span>
    </div>
    <div *ngIf="context=='detail'">
      <span class="f8-planner__label-name">
        {{ label.name }}
      </span>
      <span class="f8-planner__label-close padding-left-5" 
        *ngIf="allowDelete">
        <i class="pficon-close pointer" 
          (click)="removeLabel(label, $event)">
        </i>
      </span>
    </div>
  </div>
  <div class="f8-planner__label dropdown" 
    dropdown 
    placement="right"
    *ngIf="truncateAfter!==undefined && _labels.length > 4">
    <span class="dib dropdown-toggle pointer"
      dropdownToggle 
      (click)="moreClick($event)" >
      {{ _labels.length - truncateAfter }}+
    </span>
    <ul class="dropdown-menu dropdown-menu-right"
      *dropdownMenu >
      <li *ngFor="let label of _labels | slice:truncateAfter;">
        <div class="f8-planner-label" 
          [ngStyle]="{
            'background-color': label.backgroundColor,
            'color': label.textColor
          }">
          <div *ngIf="context!='detail'">
            <a [routerLink]=[] 
              [queryParams]= "constructQueryExpression(label.id)">
              <span class="f8-planner-label__name pointer">
                {{ label.name }}
              </span>
            </a>
            <span class="close-icon-wrapper" 
              *ngIf="allowDelete">
              <i class="pficon-close pointer" 
                (click)="removeLabel(label, $event)">
              </i>
            </span>
          </div>
          <div *ngIf="context=='detail'">
            <span class="f8-planner-label__name">
              {{ label.name }}
            </span>
            <span class="f8-planner-label__close padding-left-5" 
              *ngIf="allowDelete">
              <i class="pficon-close pointer" 
                (click)="removeLabel(label, $event)">
              </i>
            </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
