<div class="f8-planner-inlineinput"
[class.read-only]="disabled">
  <textarea
    class="f8-planner-inlineinput__input-field"
    #input
    autosize
    (click)="startEditing(true)"
    [init_height]="23"
    [attr.disabled]="(!allowOnLineClickEdit || disabled) && !editing ? '' : null"
    [attr.placeholder]="placeholder"
    [class.is-active]="editing"
    [ngModel]="inputValue"
    (keydown.enter)="submitOnEnter($event)"
    (keydown)="onkeyDown($event)">
  </textarea>
  <div
    *ngIf="editing"
    (click)="saveClick()"
    class="btn btn-primary f8-planner-inlineinput__btn-save"
    [class.disabled]="saving">
    <i class="fa fa-check"></i>
  </div>
  <div
    class="btn btn-default f8-planner-inlineinput__btn-cancel"
    *ngIf="editing"
    (click)="closeClick()">
    <i class="fa fa-close"></i>
  </div>
  <!--
    We can not put *ngIf in this component.
    Understand the following flow -
    1. You click on the edit icon
    2. The value for `editing` goes true
    3. Thus this section is out of the DOM
    4. In the `clickOut` directive it checks if the
       target (clicked) element is not under the host element.
    5. But since the target element is out of the DOM it's considered
       as a cliked out side.
    6. As per `(clickOut)="closeClick()"` the closeClick function is called
    7. The `editing` value will reset to false.

    To solve this, we are just using show / hide class
    instead of completely removing it form *ngIf

    TODO: Evaluate the solution and come up with a better one if there is any
  -->
  <div (click)="startEditing(false)"
    class="f8-planner-inlineinput__edit-icon"
    [class.hide]="editing">
    <i class="pficon pficon-edit"></i>
  </div>
  <div class="has-error"
    *ngIf="editing">
    <div class="help-block margin-0"
      *ngIf="errorMessage.length">
      <small>{{ errorMessage }}</small>
    </div>
  </div>
</div>
