<modal #iterationAssociationModal title="Associate with Iteration">
  <modal-content>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div *ngIf="isAssociated">
        <strong>#ThisWorkItem</strong>
        is currently associated with
        <strong>#IterationName</strong>
      </div>
      <div class="form-group" [class.has-error]="validationError">
        <div *ngIf="isAssociated" class="search-pf-input-group">
          <label>Reassociate <strong>#ThisWorkItem</strong> with</label>
          <div class="dropdown dib" dropdown>
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" dropdown-open>
                  #IterationName <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation"><a role="menuitem" tabindex="-1">Itenration 0</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1">Itenration 1</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1">Itenration 2</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1">Itenration 3</a></li>
              </ul>
          </div>
        </div>
        <div *ngIf="!isAssociated" class="search-pf-input-group">
          <label>Associate <strong>#ThisWorkItem</strong> with</label>
          <div class="dropdown dib" dropdown>
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" dropdown-open>
                  Select... <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation"><a role="menuitem" tabindex="-1">Itenration 0</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1">Itenration 1</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1">Itenration 2</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1">Itenration 3</a></li>
              </ul>
          </div>
        </div>
      </div>
      <div class="text-right">
        <button class="btn" type="submit" id="cancel-iteration-button" value="0" (click)="iterationAssociationModal.close()">Cancel</button>
        <button *ngIf="!isAssociated" class="btn btn-primary" type="submit" id="associate-iteration-button" value="0" (click)="onChangeIteration()">Associate</button>
        <button *ngIf="isAssociated" class="btn btn-primary" type="submit" id="reassociate-iteration-button" value="0" (click)="onChangeIteration()">Reassociate</button>
      </div>
    </div>
  </modal-content>
</modal>
