@import (reference) '../../assets/stylesheets/ngx-widgets.less';

//side panel
.side-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: 320px;
  min-height: 100%;
}
.content-wrapper {
  min-height: 100%;
  margin-left: 320px;
}
