@import (reference) '../../../assets/stylesheets/_base';
@import '../../../assets/stylesheets/_planner-layout';

.f8-planner-card {
  cursor: move;
  &__header {
    position: relative;
    padding-top: 18px;
    padding-right: 18px;
    padding-left: 46px;
    &-type-icon {
      position: absolute;
      top: 17px;
      left: 18px;
      font-size: 18px;
    }
  }
  &__title-creator {
    color: @color-pf-black-400;
  }
  &__body {
    padding-top: 15px;
    padding-right: 18px;
    padding-bottom: 15px;
    padding-left: 46px;
  }
  &__sprint {
    width: 50%;
    float: left;
  }
  &__footer {
    padding-right: 18px;
    padding-bottom: 18px;
    padding-left: 46px;
  }
}
