<div class="f8-custom-card" style="width: 340px; margin-left: 30px;" (click)="cardClick(workItem, $event);">
  <pfng-card [config]="config" [headerTemplate]="cardHeader">
    <ng-template #cardHeader>
      <div class="f8-custom-card-header">
        <div class="wi-type-icon-wrapper">
          <span class="fa fa-bullseye"></span>
        </div>
        <div class="title-wrapper" (click)="titleClick(workItem, $event);">
          <span>#2583: </span>
          <strong>A development platform should provide as application</strong>
          <span class="creator"> - created by viraj</span>
        </div>
      </div>
    </ng-template>
    <div class="f8-custom-card-body">
      <div class="sprint-name truncate"
        [placement]="top"
        [tooltip]="'Sprint #151 Sprint #151 Sprint #151'">
        <span>Sprint #151 Sprint #151 Sprint #151 Sprint #151 Sprint #151</span>
      </div>
      <div class="assignee">
        <user-avatar
          [imgSrc]="'https://avatars1.githubusercontent.com/u/2561818?v=4&s=25'">
        </user-avatar>
        <user-avatar
          [imgSrc]="'https://avatars1.githubusercontent.com/u/2561818?v=4&s=25'">
        </user-avatar>
        <user-avatar
          [imgSrc]="'https://avatars1.githubusercontent.com/u/2561818?v=4&s=25'">
        </user-avatar>
      </div>
    </div>
    <div class="f8-custom-card-footer">
      <f8-label
        [labels]="labels"
        [truncateAfter]='4'
        [allowDelete]="false"
        (onLabelClick)="labelClick($event)">
      </f8-label>
    </div>
  </pfng-card>
</div>
