<div class="f8-planner-card"
  (click)="cardClick(workItem, $event);"
  [attr.data-id]="workItem.id">
  <pfng-card [config]="config"
    [headerTemplate]="cardHeader">
    <ng-template #cardHeader>
      <div class="f8-planner-card__header">
        <div class="f8-planner-card__header-type-icon">
          <span class="{{workItem.type?.icon}}"></span>
        </div>
        <div class="f8-planner-card__title"
          (click)="titleClick(workItem, $event);">
          <span>{{ workItem.number }}: </span>
          <strong class="pointer"
            [innerHTML]="workItem.title">
          </strong>
          <span class="f8-planner-card__title-creator"> - created by {{ (workItem.creatorObs | async).name }}</span>
        </div>
      </div>
    </ng-template>
    <div class="f8-planner-card__body">
      <div class="f8-planner-card__sprint truncate"
        *ngIf="workItem.iterationObs | async as iteration"
        [placement]="top"
        [tooltip]="iteration.resolvedParentPath === '/' ?
          '/' + iteration.name :
          iteration.resolvedParentPath + '/' + iteration.name">
        <span>{{ iteration.name }}</span>
      </div>
      <div class="text-right">
        <f8-assignee
          [showFullName]="false"
          [truncateAfter]="3"
          [overlapAvatar]="true"
          [assignees]="workItem.assigneesObs | async">
        </f8-assignee>
      </div>
    </div>
    <div class="f8-planner-card__footer">
      <f8-label
        [labels]="workItem.labelsObs | async"
        [truncateAfter]='4'
        [allowDelete]="false"
        [context]="'detail'">
      </f8-label>
    </div>
  </pfng-card>
</div>
