@import (reference) '../../../assets/stylesheets/_base';

.f8-planner-cell {
  &__icon-type {
    min-width: 15px;
    margin-right: 3px;
    color: @color-pf-black-800;
  }
  &__title {
    display: inline-flex;
    width: ~"calc(e('100% - 20px'))"; // lesshint-disable-line
    p {
      font-weight: bold;
    }
  }
  &__detail-icon {
    width: 20px;
    opacity: 0;
    a {
      font-size: 16px;
      text-decoration: none;
    }
  }
  &__assignees {
    .f8-assignees {
      display: initial;
      margin: 0 !important;
    }
  }
  &__state {
    display: flex;
    &-text {
      line-height: normal;
      white-space: normal;
    }
  }
}
