@import "../../../assets/stylesheets/color-variables";
@import "../../../assets/stylesheets/custom";
@import "../../../assets/stylesheets/mixins";

.field-required-icon {
  color: $color-pf-red-200;
}
.marginR10 {
  margin-right: em(10);
}
.datepicker-container {
  display: flex;
  justify-content: space-between;
  .date-container {
    width: 50%;
  }
}
.start-date-container {
  padding-right: em(5);
}
.end-date-container {
  padding-left: em(5);
}
.iteration-modal-footer {
  margin-top: em(20);
}
.error-block {
  visibility: hidden;
  .help-block {
    color: $color-pf-red-200;
  }
}
.space-error {
  visibility: visible;
}

//Toast notification style
.iteration-toast-notification {
  position: fixed;
  top: em(36);
  right: em(50);
  z-index: 10;
  min-width: em(330);
}
.toast-iteration-name {
  max-width: em(80);
  display: inline-block;
  vertical-align: top;
  font-weight: 700;
}
