@import (reference) '../../../assets/stylesheets/_base';

.f8-planner-event {
  &--toggle {
    display: inline-block;
    width: 40px;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    cursor: pointer;
  }
  &__list {
    li {
      text-align: center;
      a {
        padding: 13px 15px;
        border: 0;
      }
      &:nth-child(2) {
        a {
          margin-left: -13px;
        }
      }
    }
  }
}
