<app-header></app-header>
<div class="container-fluid screen-min-ht">
<div *ngIf="workItem">
  <h1>{{workItem.name}} Details</h1>
  <br />
  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-1 control-label">ID</label>
      <div class="col-sm-5">
        {{workItem.id}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label" for="name">Name</label>
      <div class="col-sm-5">
        <input type="text" [(ngModel)]="workItem.name" placeholder="Name (mandatory)" required class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label" for="desc">Description</label>
      <div class="col-sm-5">
        <input type="text" [(ngModel)]="workItem.description" placeholder="Description" class="form-control">
      </div>
    </div>
    <br /><br />
    <div class="form-group">
      <label class="col-sm-1 control-label" for="type">Type</label>
      <div class="col-sm-5">
        <input type="text" [(ngModel)]="workItem.type" placeholder="Type" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label" for="status">Status</label>
      <div class="col-sm-5">
        <input type="text" [(ngModel)]="workItem.status" placeholder="Status" class="form-control">
      </div>
    </div>
    <br /><br />
    <div class="form-group">
      <label class="col-sm-1 control-label" for="owner">Owner</label>
      <div class="col-sm-5">
        <input type="text" [(ngModel)]="workItem.fields['system.owner']" placeholder="Owner" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label" for="state">State</label>
      <div class="col-sm-5">
        <input type="text" [(ngModel)]="workItem.fields['system.state']" placeholder="state" class="form-control">
      </div>
    </div>
    <br /><br />
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-5">
        <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
        <button type="submit" class="btn btn-default" (click)="goBack()">Back</button>
      </div>
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>
