<div (clickOut)="clickOut()" 
  class="f8-select-dropdown dropdown">
  <span (click)="openDropdown()">
    <ng-container *ngTemplateOutlet="toggleButtonRef">
    </ng-container>
  </span>
  <div class="f8-select-dropdown__wrapper 
    dropdown-menu dropdown-menu-left"
    [class.show]="displayDropdown">
    <div class="f8-select-dropdown__header">
      <span> {{ headerText }} </span>
      <span
        class="pull-right pficon-close close-pointer"
        (click)="closeDropdown()"></span>
    </div>
    <div
      class="f8-select-dropdown__search"
      *ngIf="showSearch">
      <input (keyup)="searchItem(searchInput.value)"
        #searchInput
        class="f8-select-dropdown__search-input" />
      <span *ngIf="!loading" class="fa fa-search in-input-icon"></span>
      <span *ngIf="loading" class="spinner spinner-sm in-input-icon"></span>
    </div>
    <ul class="f8-select-dropdown__menu">
      <li
        *ngFor="let item of menuItems"
        [class.f8-select-dropdown__menu-item]="item.key!==null"
        [class.is-item-disabled]="item.key===null"
        [class.is-item-selected]="item.selected"
        (click)="selectItem(item)">
        <span class="fa fa-check pull-right padding-top-5"
          *ngIf="item.selected">
        </span>
        <div class="f8-select-dropdown__menu-dynamic-item">
          <ng-container 
            *ngTemplateOutlet="dropdownItem; context: item" >
          </ng-container>
        </div>
      </li>
    </ul>
    <div class="f8-select-dropdown__footer"
      *ngIf="dropdownFooter">
      <ng-container *ngTemplateOutlet="dropdownFooter">
      </ng-container>
    </div>
  </div>
</div>
