<div *ngIf="showDialog">
	<alm-dialog
		(pfDialogClick)="onButtonClick($event)"
		[dialog]='dialog'
	></alm-dialog>
</div>
<div class="list-group-item" (click)="onSelect($event)" [class.selected]="isSelected()">
	<!--checkbox to select a WI and move it-->
	<div class="row-cbh" title="Select the checkbox to move the item.">
		<input type="checkbox" [checked]="checkedWI" (click)="toggleEntry($event)" />
	</div>
	<!-- info area -->
	<div class="list-view-pf-main-info" (click)="onDetail($event)">
		<div class="list-view-pf-left type workItemList_workItemType">
			<span almIcon [iconType]="workItem.attributes['system.state']" class="color-grey pull-left"></span>
      		<span almIcon [iconType]="workItem.relationships?.baseType?.data?.id" class="color-grey pull-left"></span>
			<span class="pull-left"> {{workItem.id}} </span>
		</div>
		<div class="list-view-pf-body">
			<div class="list-view-pf-description">
				<div class="workItemList_title truncate-ellipsis col-xs-12 row">
					<p class="col-md-12 col-sm-12 col-xs-12 pull-left truncate">{{workItem.attributes['system.title']}}</p>
				</div>
				<div class="list-group-item-text workItemList_description dn">
					{{workItem.attributes['system.description'] ? workItem.attributes['system.description'] : "No description available for this work item."}}
				</div>
			</div>
		</div>
	</div>

  <div class="user-avatar">
      <img
        *ngFor="let wItem of workItem.relationalData.assignees"
        tooltipPlacement="bottom"
        tooltip="{{wItem.attributes.fullName}}"
        src="{{wItem.attributes.imageURL + '&s=23'}}"
        onError="this.src='https://avatars0.githubusercontent.com/u/563119?v=3&s=23'" />
      <span *ngIf="!workItem.relationalData?.assignees?.length" class="fa fa-user not-assigned-user-icon"></span>
  </div>

	<!-- action area -->
	<div class="list-view-pf-actions">
		<div *ngIf="loggedIn" class="dropdown pull-right dropdown-kebab-pf" dropdown (onOpen)="selectEntry()">
			<button class="btn btn-link dropdown-toggle workItemList_dropdownKebabBtn" type="button" id="dropdownKebabRight" aria-haspopup="true" aria-expanded="true" dropdown-open>
				<span class="fa fa-ellipsis-v"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight">
				<li><a class="workItemList_MoveTop" (click)="onMoveToTop($event)">Move to Top</a></li>
				<li><a class="workItemList_MoveBottom" (click)="onMoveToBottom($event)">Move to Bottom</a></li>
				<li role="presentation" class="divider"></li>
				<li><a class="workItemList_Iteration" (click)="iterationAssociationModal.open()">Associate with Iteration...</a></li>
				<li><a class="workItemList_Iteration" (click)="isAssociated = true; iterationAssociationModal.open()">Reassociate with Iteration...</a></li>
				<li role="presentation" class="divider"></li>
				<li><a [routerLink]="['/work-item/list/detail/' + workItem.id]" class="workItemList_Open">Open</a></li>
				<li><a class="workItemList_Delete" (click)="confirmDelete($event)">Delete</a></li>
				<li><a class="workItemList_Backlog" (click)="onMoveToBacklog($event)">Move to Backlog</a></li>
			</ul>
		</div>
	</div>
</div>

<modal #iterationAssociationModal title="Associate with Iteration">
    <modal-content>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div *ngIf="isAssociated">
                <strong>#ThisWorkItem</strong>
                is currently associated with
                <strong>#IterationName</strong>
            </div>
            <div class="form-group" [class.has-error]="validationError">
                <div *ngIf="isAssociated" class="search-pf-input-group">
                    <label>Reassociate <strong>#ThisWorkItem</strong> with</label>
                    <div class="dropdown" dropdown>
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" dropdown-open>
                            #IterationName <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1">Itenration 0</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1">Itenration 1</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1">Itenration 2</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1">Itenration 3</a></li>
                        </ul>
                    </div>
                </div>
                <div *ngIf="!isAssociated" class="search-pf-input-group">
                    <label>Associate <strong>#ThisWorkItem</strong> with</label>
                    <div class="dropdown" dropdown>
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" dropdown-open>
                            Select... <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1">Itenration 0</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1">Itenration 1</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1">Itenration 2</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1">Itenration 3</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button class="btn" type="submit" id="cancel-iteration-button" value="0" (click)="iterationAssociationModal.close()">Cancel</button>
                <button *ngIf="!isAssociated" class="btn btn-primary" type="submit" id="associate-iteration-button" value="0" (click)="onChangeIteration()">Associate</button>
                <button *ngIf="isAssociated" class="btn btn-primary" type="submit" id="reassociate-iteration-button" value="0" (click)="onChangeIteration()">Reassociate</button>
            </div>
        </div>
    </modal-content>
</modal>

